section.container.section-skills-js
  div.row
      div.medium-4.column
          div.chart-gauge


      div.medium-4.column
          div.count-wrap
              h2 Мой уровень владения
                br
                | JavaScript
              div.js-count


