section.container.section-info
    div.row
        div.medium-2.medium-uncentered.column
            img(src="images/avatar.png")
        div.medium-6.column
            +list-info('Константин','3.12.1991','Одесса','Skype: uu53790')
