section.container.section-skills
    div.row.small-centered.column
        h2 Навыки
    div.row
        div.small-4.medium-2.column
            +list-checkbox('HTML5', 'CSS3', 'БЭМ')
        div.small-4.medium-2.column
            +list-checkbox('SASS', 'LESS', 'GULP')
        div.small-4.medium-2.column
            +list-checkbox('VANILLAJS', 'ANGULAR', 'JQUERY')
        div.small-4.medium-2.column
            +list-checkbox('GIT', 'FOUNDATION', 'BOOTSTRAP')
